<tr>
  <td>
    {{#if block.uncle}}
      <a href="https://blockscout.com/etc/mainnet/uncle/{{block.uncleHeight}}" rel="nofollow" target="_blank">{{format-number block.height}}</a>
    {{else}}
      <a href="https://blockscout.com/etc/mainnet/block/{{block.height}}" rel="nofollow" target="_blank">{{format-number block.height}}</a>
    {{/if}}
  </td>
  <td>
    {{#if block.uncle}}
      <td>{{#link-to 'account' block.login class='hash'}}{{block.login}}{{/link-to}}</td>
    {{else if block.orphan}}
      <span class="label label-danger">Orphan</span>
    {{else}}
      <td>{{#link-to 'account' block.login class='hash'}}{{block.login}}{{/link-to}}</td>
    {{/if}}
  </td>
  <td style="color:purple">{{format-date-locale block.timestamp}}</td>
  <td>
    {{#if block.isLucky}}
      <span class="label label-success">{{format-number block.variance style='percent'}}</span>
    {{else}}
      <span class="label label-danger">{{format-number block.variance style='percent'}}</span>
    {{/if}}
  </td>
  <td style="color:green">
    {{#if block.uncle}}
    <span>{{block.formatReward}}</span>
    {{else if block.isOk}}
    <span>{{block.formatReward}}</span>
    {{/if}}
  </td>
  <td style="color:red">
    {{#if block.uncle}}
    <span>Uncle</span>
    {{else if block.isOk}}
    <span>Block</span>
    {{/if}}
  </td>
  <td style="color:red"><span>{{format-hashrate block.shareDiff}}</span></td>
  <td style="color:green"><span>{{block.worker}}</span></td>
</tr>
