<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    {{high-charts mode=chartMode chartOptions=chartPayment content=chartData}}
	  </div>
	</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	<div class="note note-success">
	  {{#if model.payments}}
	  <h4>Latest Payouts</h4>
		<div class="table-responsive">
		  <table class="table table-condensed table-striped">
			<thead>
			  <tr>
				<th style="color:white">Time</th>
				<th style="color:white">Tx ID</th>
				<th style="color:white">Amount</th>
			  </tr>
			</thead>
			<tbody>
			  {{#each model.payments as |tx|}}
				<tr>
				  <td>{{format-date-locale tx.timestamp}}</td>
				  <td>
					<a href="https://blockscout.com/etc/mainnet/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{tx.tx}}</a>
				  </td>
				  <td>{{format-balance tx.amount}}</td>
				</tr>
			  {{/each}}
			</tbody>
		  </table>
		</div>
		{{else}}
		<h3 style="color:white">No payouts yet</h3>
		{{/if}}
	</div>
  </div>
</div>
</div>