<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <div class="text-white"><h2>{{model.paymentsTotal}}</h2></div><small class="text-white"><b>TOTAL</b></small> <small class="text-green"><u>PAYMENTS</u></small>
	  </div>
	</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    {{#if model.payments}}
	    <h4>Latest Payouts</h4>
	    <div class="table-responsive">
		  <table class="table table-condensed table-striped">
		    <thead>
			  <tr>
			    <th style="color:white">Time</th>
			    <th style="color:white">Amount</th>
			    <th style="color:white">Address</th>
			    <th style="color:white">Tx ID</th>
			  </tr>
		    </thead>
		    <tbody>
			  {{#each model.payments as |tx|}}
			    <tr>
				  <td><span class="label label-success">{{format-date-locale tx.timestamp}}</span></td>
				  <td><span class="label label-primary">{{format-number tx.formatAmount}}</span></td>
				  <td>
				    <a href="https://blockscout.com/etc/mainnet/address/{{tx.address}}" class="hash" rel="nofollow" target="_blank">{{tx.address}}</a>
				  </td>
				  <td>
				    <a href="https://blockscout.com/etc/mainnet/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{format-tx tx.tx}}</a>
				  </td>
			    </tr>
			  {{/each}}
		    </tbody>
		  </table>
	    </div>
	    {{else}}
	    <h3 style="color:white">No payouts yet</h3>
	    {{/if}}
      </div>
	</div>
  </div>
</div>
